<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @author.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @author.lname %>
</p>

<p>
  <strong>Books:</strong>
  <%= @author.books %>
</p>

<p>
  <strong>Book ids:</strong>
  <%= @author.book_ids %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
